body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:726px;
}
#u112 {
  position:absolute;
  left:163px;
  top:45px;
  width:365px;
  height:726px;
}
#u113 {
  position:absolute;
  left:2px;
  top:355px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:300px;
  top:221px;
  width:80px;
  height:33px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u115 {
  position:absolute;
  left:228px;
  top:298px;
  width:224px;
  height:21px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u116 {
  position:absolute;
  left:228px;
  top:550px;
  width:224px;
  height:21px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u117 {
  position:absolute;
  left:228px;
  top:340px;
  width:224px;
  height:21px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u118 {
  position:absolute;
  left:228px;
  top:382px;
  width:224px;
  height:21px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u119 {
  position:absolute;
  left:228px;
  top:424px;
  width:224px;
  height:21px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u120 {
  position:absolute;
  left:228px;
  top:466px;
  width:224px;
  height:21px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u121 {
  position:absolute;
  left:228px;
  top:508px;
  width:224px;
  height:21px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u122 {
  position:absolute;
  left:228px;
  top:264px;
  width:224px;
  height:21px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u123 {
  position:absolute;
  left:205px;
  top:183px;
  width:23px;
  height:21px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:270px;
  top:175px;
  width:169px;
  height:37px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
