body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:726px;
}
#u36 {
  position:absolute;
  left:163px;
  top:45px;
  width:365px;
  height:726px;
}
#u37 {
  position:absolute;
  left:2px;
  top:355px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:227px;
  top:289px;
  width:224px;
  height:21px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u39 {
  position:absolute;
  left:227px;
  top:320px;
  width:207px;
  height:1px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:227px;
  top:541px;
  width:224px;
  height:21px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u42 {
  position:absolute;
  left:227px;
  top:572px;
  width:207px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:227px;
  top:331px;
  width:224px;
  height:21px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u45 {
  position:absolute;
  left:227px;
  top:362px;
  width:207px;
  height:1px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:227px;
  top:373px;
  width:224px;
  height:21px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u48 {
  position:absolute;
  left:227px;
  top:404px;
  width:207px;
  height:1px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:227px;
  top:415px;
  width:224px;
  height:21px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u51 {
  position:absolute;
  left:227px;
  top:446px;
  width:207px;
  height:1px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:227px;
  top:457px;
  width:224px;
  height:21px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u54 {
  position:absolute;
  left:227px;
  top:488px;
  width:207px;
  height:1px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:227px;
  top:499px;
  width:224px;
  height:21px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u57 {
  position:absolute;
  left:227px;
  top:530px;
  width:207px;
  height:1px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:227px;
  top:255px;
  width:224px;
  height:21px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u60 {
  position:absolute;
  left:281px;
  top:260px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62 {
  position:absolute;
  left:333px;
  top:260px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:259px;
  top:589px;
  width:157px;
  height:40px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#003399;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u65 {
  position:absolute;
  left:205px;
  top:183px;
  width:23px;
  height:21px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:270px;
  top:175px;
  width:169px;
  height:37px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
