body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:726px;
}
#u83 {
  position:absolute;
  left:163px;
  top:45px;
  width:365px;
  height:726px;
}
#u84 {
  position:absolute;
  left:2px;
  top:355px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:228px;
  top:240px;
  width:300px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u87 {
  position:absolute;
  left:228px;
  top:266px;
  width:242px;
  height:1px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:194px;
  top:162px;
  width:304px;
  height:54px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:228px;
  top:283px;
  width:300px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u92 {
  position:absolute;
  left:228px;
  top:309px;
  width:242px;
  height:1px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:228px;
  top:328px;
  width:300px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u96 {
  position:absolute;
  left:228px;
  top:354px;
  width:242px;
  height:1px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:228px;
  top:377px;
  width:300px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u100 {
  position:absolute;
  left:228px;
  top:403px;
  width:242px;
  height:1px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:228px;
  top:421px;
  width:300px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u104 {
  position:absolute;
  left:228px;
  top:447px;
  width:242px;
  height:1px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:228px;
  top:467px;
  width:300px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:2px;
}
#u108 {
  position:absolute;
  left:228px;
  top:493px;
  width:242px;
  height:1px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u110 {
  position:absolute;
  left:205px;
  top:183px;
  width:23px;
  height:21px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
