body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:726px;
}
#u68 {
  position:absolute;
  left:163px;
  top:45px;
  width:365px;
  height:726px;
}
#u69 {
  position:absolute;
  left:2px;
  top:355px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:224px;
  top:228px;
  width:224px;
  height:21px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u71 {
  position:absolute;
  left:224px;
  top:259px;
  width:207px;
  height:1px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:224px;
  top:282px;
  width:224px;
  height:21px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u74 {
  position:absolute;
  left:224px;
  top:313px;
  width:207px;
  height:1px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:224px;
  top:342px;
  width:224px;
  height:21px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:2px;
}
#u77 {
  position:absolute;
  left:224px;
  top:373px;
  width:207px;
  height:1px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:258px;
  top:417px;
  width:160px;
  height:36px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u80 {
  position:absolute;
  left:205px;
  top:183px;
  width:23px;
  height:21px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:270px;
  top:175px;
  width:169px;
  height:37px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
